<html>

<head>
	<meta charset="ISO-8859-1" />
	<link href="css/styles.css" rel="stylesheet" />
	<title>Bharat University</title>
</head>

<body>
	<h1>Bharat University Portal</h1>
	<form name="login" action="/login" method="post">
		<table>
			<tr>
				<td>
					University ID
				</td>
				<td>
					<input type="text" name="id">
				</td>
			</tr>
			<tr>
				<td>
					Password
				</td>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
		</table>
		<input type="submit" name="Sign In">
	</form>
</body>

</html>